.btn {
  padding: 1rem 3.5rem;
  font-weight: bold;
  font-size: 1.8rem;
  border: none;
  background: none;
  cursor: pointer;
  transition: 0.7s;
  &-request {
    background-color: $blue;
    color: $white;
    animation: shake 1.5s 3s;
    border-radius: 4px;
    box-shadow: 0 2px 6px rgba($black, 0.5);
    transition: transform 0.3s;
    &:hover {
      transform: translateY(-5px);
      box-shadow: 0 5px 6px rgba($black, 0.5);
    }
    &:active {
      transform: translateY(0);
    }
  }
}
