.request-form {
  &-container {
    border-top: 1px solid $blue;
    background-color: white;
    padding: 1rem 0;
  }
  margin: 1rem auto;
  width: 30rem;
  max-width: 100%;
  .field {
    margin-bottom: 0.8rem;
    &-label {
      display: block;
      font-weight: 700;
    }
    &-input {
      background-color: #f0f0f0;
      border: none;
      padding: 1rem 0.5rem;
      border-radius: 2px;
      width: 100%;
    }
  }
}
.select {
  position: relative;
  &-value {
    background-color: #f0f0f0;
    color: $black;
    cursor: pointer;
    padding: 1rem 0.5rem;
    transition: 0.3s;
    user-select: none;
    &:hover {
      background-color: rgba($blue, 0.8);
      color: $white;
    }
    &-active {
      background: $blue;
      color: $white;
      &:hover {
        background-color: rgba($blue, 0.8);
        color: $white;
      }
    }
    &-arrow {
      display: flex;
      justify-content: space-between;
      .arrow {
        transform: translateY(25%);
      }
    }
  }
  &-values {
    &-wrapper {
      position: absolute;
      bottom: 0%;
      left: 0;
      width: 100%;
      transform: translateY(100%);
    }
    list-style: none;
    background-color: $black;
  }
}
.d-none {
  display: none;
}
