$white: #eee2dc;
// $blue: #123c69;
// $blue: #0043a4;
$blue: #227093;
// $red: #ac3b61;
// $red: #b40a1b;
$red: #e20338;

// $brown: #edc7b7;
$brown: linear-gradient(to right, #e0eafc, #cfdef3);
$grey: #bab2b5;
$black: #231f20;
$bg-grey: #e5e7e9;
