// $white: #eee2dc;
$white: white;
// $blue: #0e73c0;
// $blue: #1089ff;
$blue: #614ad3;
$red: #e20338;

$brown: linear-gradient(to right, #e0eafc, #cfdef3);
$grey: #bab2b5;
$black: #231f20;
$bg-grey: #e5e7e9;
