@charset "UTF-8";
* {
  -webkit-box-sizing: border-box;
          box-sizing: border-box;
  padding: 0;
  margin: 0;
  outline: none; }

html {
  font-size: 62.5%;
  font-family: "El Messiri", Arial, Helvetica, sans-serif; }

body {
  min-height: 100vh;
  font-size: 1.6rem;
  overflow-x: hidden;
  background-color: #e5e7e9;
  color: #231f20; }

@media only screen and (max-width: 700px) {
  html {
    font-size: 58%; } }

html,
body {
  width: 100%;
  margin: 0px;
  padding: 0px;
  overflow-x: hidden; }

input::-webkit-outer-spin-button,
input::-webkit-inner-spin-button {
  /* display: none; <- Crashes Chrome on hover */
  -webkit-appearance: none;
  margin: 0;
  /* <-- Apparently some margin are still there even though it's hidden */ }

input[type="number"] {
  -moz-appearance: textfield;
  /* Firefox */ }

a {
  text-decoration: none; }

.h {
  font-weight: 700; }
  .h-main {
    color: #614ad3;
    font-size: 6rem;
    text-align: center;
    text-transform: uppercase;
    -webkit-animation: fadeIn 2s;
            animation: fadeIn 2s; }
  .h-doc {
    font-size: 5rem;
    margin-bottom: 1rem; }
  .h-secondary {
    text-align: center;
    font-size: 3.5rem;
    color: #614ad3;
    margin-bottom: 1.5rem; }
    .h-secondary-reverse {
      text-align: center;
      font-size: 3.5rem;
      color: white;
      margin-bottom: 3rem; }
  .h-request {
    font-size: 5rem;
    text-align: center;
    color: #614ad3; }
  .h-pol {
    font-size: 3.5rem;
    background: -webkit-gradient(linear, right top, left top, from(#614ad3), to(#3e29a8));
    background: -o-linear-gradient(right, #614ad3, #3e29a8);
    background: linear-gradient(to left, #614ad3, #3e29a8);
    -webkit-background-clip: text;
            background-clip: text;
    color: transparent;
    margin-bottom: 1.5rem;
    text-transform: uppercase;
    padding-left: 2rem; }
    .h-pol-nd {
      padding-left: 1rem;
      font-size: 2.5rem;
      color: #271a6a;
      margin-top: 1rem; }

@media only screen and (max-width: 430px) {
  .h-main {
    font-size: 4.5rem; }
  .h-doc {
    font-size: 3.5rem; } }

.p-error {
  color: #e20338;
  font-size: 1.8rem;
  margin-top: 1.5rem; }

.p-pol {
  font-size: 1.7rem;
  line-height: 1.6;
  margin-bottom: 1rem; }

.btn {
  padding: 1rem 3.5rem;
  font-weight: bold;
  font-size: 1.8rem;
  border: none;
  background: none;
  cursor: pointer;
  -webkit-transition: 0.7s;
  -o-transition: 0.7s;
  transition: 0.7s;
  font-family: Arial, Helvetica, sans-serif; }
  .btn-request {
    background-color: #614ad3;
    color: white;
    display: -webkit-box;
    display: -ms-flexbox;
    display: flex;
    width: 16rem;
    -webkit-box-pack: justify;
        -ms-flex-pack: justify;
            justify-content: space-between;
    -webkit-animation: shake 1.5s 3s;
            animation: shake 1.5s 3s;
    border-radius: 4px;
    -webkit-box-shadow: 0 2px 6px rgba(35, 31, 32, 0.5);
            box-shadow: 0 2px 6px rgba(35, 31, 32, 0.5);
    -webkit-transition: -webkit-transform 0.3s;
    transition: -webkit-transform 0.3s;
    -o-transition: transform 0.3s;
    transition: transform 0.3s;
    transition: transform 0.3s, -webkit-transform 0.3s; }
    .btn-request:hover {
      -webkit-transform: translateY(-5px);
          -ms-transform: translateY(-5px);
              transform: translateY(-5px);
      -webkit-box-shadow: 0 5px 6px rgba(35, 31, 32, 0.5);
              box-shadow: 0 5px 6px rgba(35, 31, 32, 0.5); }
    .btn-request:active {
      -webkit-transform: translateY(0);
          -ms-transform: translateY(0);
              transform: translateY(0); }
  .btn-submit {
    display: block;
    background-color: #614ad3;
    color: white;
    width: 100%;
    border-radius: 2px;
    margin-top: 2rem;
    -webkit-transition: 0.3s;
    -o-transition: 0.3s;
    transition: 0.3s; }
    .btn-submit:hover {
      background-color: rgba(97, 74, 211, 0.9); }

.request-form {
  margin: 1rem auto;
  width: 30rem;
  max-width: 100%; }
  .request-form-container {
    border-top: 1px solid #614ad3;
    background-color: white;
    padding: 1rem 0; }
  .request-form .field {
    margin-bottom: 0.8rem; }
    .request-form .field-label {
      display: block;
      font-weight: 700; }
    .request-form .field-input {
      background-color: #f0f0f0;
      border: none;
      padding: 1rem 0.5rem;
      border-radius: 2px;
      width: 100%; }
  .request-form .loader {
    width: 8rem;
    display: block;
    margin: 0 auto;
    -webkit-animation: fadeIn 0.3s;
            animation: fadeIn 0.3s; }

.select {
  position: relative; }
  .select-value {
    background-color: #f0f0f0;
    color: #231f20;
    cursor: pointer;
    padding: 1rem 0.5rem;
    -webkit-transition: 0.3s;
    -o-transition: 0.3s;
    transition: 0.3s;
    -webkit-user-select: none;
       -moz-user-select: none;
        -ms-user-select: none;
            user-select: none; }
    .select-value:hover {
      background-color: rgba(97, 74, 211, 0.8);
      color: white; }
    .select-value-active {
      background: #614ad3;
      color: white; }
      .select-value-active:hover {
        background-color: rgba(97, 74, 211, 0.8);
        color: white; }
    .select-value-arrow {
      display: -webkit-box;
      display: -ms-flexbox;
      display: flex;
      -webkit-box-pack: justify;
          -ms-flex-pack: justify;
              justify-content: space-between; }
      .select-value-arrow .arrow {
        -webkit-transform: translateY(25%);
            -ms-transform: translateY(25%);
                transform: translateY(25%); }
  .select-values {
    -webkit-animation: fadeIn 0.4s;
            animation: fadeIn 0.4s;
    list-style: none;
    background-color: #231f20; }
    .select-values-wrapper {
      position: absolute;
      bottom: 0%;
      left: 0;
      width: 100%;
      -webkit-transform: translateY(100%);
          -ms-transform: translateY(100%);
              transform: translateY(100%); }

.gurantee {
  max-width: 50rem;
  margin: 2rem auto; }
  .gurantee-heading {
    font-size: 3rem;
    color: #e20338; }
  .gurantee-text {
    font-size: 1.7rem; }
    .gurantee-text::before {
      content: "- "; }

.d-none {
  display: none; }

.landing {
  position: relative;
  padding: 2rem 1rem;
  background: #dcdde1; }
  .landing-hero {
    display: -webkit-box;
    display: -ms-flexbox;
    display: flex;
    -ms-flex-pack: distribute;
        justify-content: space-around;
    -webkit-box-align: center;
        -ms-flex-align: center;
            align-items: center;
    -ms-flex-wrap: wrap;
        flex-wrap: wrap;
    width: 90%;
    max-width: 75rem;
    margin: 1rem auto; }
    .landing-hero-info {
      font-size: 2.5rem;
      max-width: 100%;
      -webkit-animation: fadeInRight 1s 0.7s both;
              animation: fadeInRight 1s 0.7s both; }
      .landing-hero-info-price {
        direction: ltr;
        font-size: 4.5rem;
        color: #614ad3;
        margin-bottom: 3rem; }
        .landing-hero-info-price-old {
          display: inline-block;
          margin: 0 1rem;
          text-decoration: line-through;
          color: #8a7c81;
          opacity: 0.7;
          font-size: 3rem;
          position: relative; }
    .landing-hero-image {
      -webkit-animation: fadeInDown 1s 0.1s both;
              animation: fadeInDown 1s 0.1s both;
      height: 70rem;
      max-height: 60vh; }

@media only screen and (max-width: 580px) {
  .landing {
    padding: 0.5rem 0.5rem; }
    .landing-hero {
      margin: 0.5rem auto; }
      .landing-hero-image {
        max-height: 50vh; }
      .landing-hero-info-price {
        margin-bottom: 1rem; } }

.ingrediants {
  margin: 3rem auto;
  text-align: center; }

.ingrediant {
  text-align: center;
  margin: 1rem auto;
  height: 25rem;
  color: #231f20; }
  .ingrediant-name {
    font-size: 2rem;
    margin-bottom: 1rem; }
  .ingrediant-image {
    max-width: 90%;
    max-height: 90%;
    border-radius: 50%; }

@media only screen and (max-width: 700px) {
  .ingrediant {
    height: 20rem;
    margin-bottom: 2rem; } }

.doc-testimonials {
  position: relative;
  padding: 3rem 1rem;
  background: white; }

.doc-testimonial {
  text-align: center; }
  .doc-testimonial-image {
    border: 2px solid #614ad3;
    width: 20rem; }
  .doc-testimonial-text {
    background-color: #614ad3;
    color: white;
    width: 40rem;
    max-width: 90%;
    margin: 1rem auto;
    padding: 2rem 1rem;
    font-size: 2rem;
    font-weight: 700;
    position: relative; }
    .doc-testimonial-text::before {
      content: "’’";
      position: absolute;
      top: -15%;
      right: 10%;
      color: #bab2b5;
      opacity: 0.4;
      font-size: 10rem; }

.benefits {
  padding: 2rem 0;
  background-color: #614ad3;
  color: white; }

.benefit {
  font-size: 1.8rem;
  margin-bottom: 5px;
  cursor: pointer; }
  .benefit span {
    position: relative; }
  .benefit span::after {
    position: absolute;
    content: "";
    right: -5px;
    bottom: 0;
    height: 1px;
    width: 100%;
    background-color: white;
    -webkit-transition: 0.5s;
    -o-transition: 0.5s;
    transition: 0.5s; }
  .benefit span::before {
    content: "";
    position: absolute;
    right: -5px;
    bottom: 0;
    width: 2px;
    height: 0%;
    background-color: white;
    -webkit-transition: 0.5s;
    -o-transition: 0.5s;
    transition: 0.5s;
    -webkit-transition-delay: 0.5s;
         -o-transition-delay: 0.5s;
            transition-delay: 0.5s; }
  .benefit span:hover::after {
    width: 0; }
  .benefit span:hover::before {
    height: 100%; }

.testimonials {
  background-color: white;
  padding: 2rem 0; }

.testimonial {
  margin-bottom: 3rem; }
  .testimonial div {
    padding-right: 1rem; }
  .testimonial-name {
    margin-bottom: 1rem;
    color: #e20338;
    font-size: 2.5rem;
    cursor: pointer;
    position: relative;
    display: inline-block; }
    .testimonial-name::after {
      -webkit-transition: 0.4s;
      -o-transition: 0.4s;
      transition: 0.4s;
      content: "";
      position: absolute;
      bottom: 0;
      left: 50%;
      -webkit-transform: translateX(-50%);
          -ms-transform: translateX(-50%);
              transform: translateX(-50%);
      width: 0;
      height: 2px;
      background-color: #e20338; }
    .testimonial-name:hover::after {
      width: 100%; }
  .testimonial-image {
    max-width: 100%;
    height: 20rem; }
  .testimonial-text {
    font-size: 1.7rem;
    margin-bottom: 3px; }

.guides {
  background-color: #614ad3;
  padding: 2rem 0;
  color: white; }

.guide {
  text-align: center;
  margin: 1rem 0; }
  .guide-num {
    font-size: 3rem;
    margin: 0 1rem; }
  .guide-image {
    max-width: 100%;
    border-radius: 50%; }

.bar {
  position: fixed;
  top: 50%;
  right: -9rem;
  z-index: 10;
  -webkit-transform: rotate(-90deg) translateY(-50%);
      -ms-transform: rotate(-90deg) translateY(-50%);
          transform: rotate(-90deg) translateY(-50%);
  -webkit-user-select: none;
     -moz-user-select: none;
      -ms-user-select: none;
          user-select: none;
  cursor: pointer; }
  .bar-icon {
    color: white;
    border-radius: 3px;
    display: block;
    padding: 1rem;
    font-size: 2.5rem;
    margin: 0;
    display: -webkit-box;
    display: -ms-flexbox;
    display: flex;
    -ms-flex-pack: distribute;
        justify-content: space-around;
    -webkit-box-align: center;
        -ms-flex-align: center;
            align-items: center;
    max-width: 20rem;
    -webkit-animation: fadeInLeft 2s 2s both;
            animation: fadeInLeft 2s 2s both; }
    .bar-icon-icon {
      margin-right: 0.5rem; }
    .bar-icon-text {
      font-size: 1.6rem; }
    .bar-icon-whatsapp {
      background-color: #25d366; }

.success {
  width: 100%;
  max-width: 50rem;
  margin: 1rem auto;
  text-align: center;
  direction: rtl; }
  .success-container {
    padding: 2rem 1rem;
    width: 100%;
    background-color: white; }
  .success-icon {
    fill: white;
    position: absolute;
    top: 50%;
    left: 50%;
    -webkit-transform: translate(-50%, -50%);
        -ms-transform: translate(-50%, -50%);
            transform: translate(-50%, -50%);
    width: 50%;
    height: 50%; }
    .success-icon-container {
      background: -webkit-gradient(linear, right top, left bottom, from(#11998e), to(#38ef7d));
      background: -o-linear-gradient(top right, #11998e, #38ef7d);
      background: linear-gradient(to bottom left, #11998e, #38ef7d);
      width: 20rem;
      height: 20rem;
      border-radius: 50%;
      text-align: center;
      position: relative;
      margin: 0 auto;
      margin-bottom: 1rem;
      -webkit-animation: rotateIn 0.5s 1s both;
              animation: rotateIn 0.5s 1s both; }
  .success-text {
    color: transparent;
    font-size: 4.5rem;
    background: -webkit-gradient(linear, right top, left bottom, from(#11998e), to(#38ef7d));
    background: -o-linear-gradient(top right, #11998e, #38ef7d);
    background: linear-gradient(to bottom left, #11998e, #38ef7d);
    -webkit-background-clip: text;
            background-clip: text;
    -webkit-animation: fadeIn 0.8s 0.4s both;
            animation: fadeIn 0.8s 0.4s both; }
  .success-link {
    color: #614ad3;
    text-decoration: none;
    font-size: 2rem; }
    .success-link-icon {
      -webkit-transform: translateY(0.5rem);
          -ms-transform: translateY(0.5rem);
              transform: translateY(0.5rem);
      display: inline-block;
      -webkit-transition: 0.3s;
      -o-transition: 0.3s;
      transition: 0.3s; }
    .success-link:hover .success-link-icon {
      margin-right: 0.5rem; }

.footer {
  width: 100%;
  max-width: 60vh;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  margin: 0 auto;
  -ms-flex-pack: distribute;
      justify-content: space-around; }
  .footer-support {
    min-height: calc(100vh - 10rem); }
  .footer-container {
    background-color: #271a6a;
    padding: 0 1rem;
    display: -webkit-box;
    display: -ms-flexbox;
    display: flex;
    height: 10rem;
    -webkit-box-align: center;
        -ms-flex-align: center;
            align-items: center; }
  .footer-link {
    font-size: 1.8rem;
    color: white;
    text-decoration: none;
    position: relative;
    font-weight: 400; }
    .footer-link::after {
      content: "";
      position: absolute;
      bottom: 0;
      left: 0;
      height: 1px;
      opacity: 1;
      background-color: white;
      width: 0%;
      -webkit-transition: 0.25s ease-in;
      -o-transition: 0.25s ease-in;
      transition: 0.25s ease-in; }
    .footer-link:hover::after {
      width: 100%; }

.policy {
  padding: 1.5rem 0; }
  .policy ol {
    margin: 1rem 0; }
  .policy-link {
    color: #614ad3;
    text-decoration: none;
    direction: rtl;
    font-size: 1.7rem;
    margin-bottom: 1rem;
    display: inline-block; }
    .policy-link-icon {
      display: inline-block;
      margin-right: 3px;
      -webkit-transform: translateY(0.5rem);
          -ms-transform: translateY(0.5rem);
              transform: translateY(0.5rem); }

.slide-enter,
.slide-exit {
  position: absolute;
  top: 0;
  left: 0;
  right: 0;
  bottom: 0; }

.slide-exit {
  opacity: 1;
  -webkit-transform: translateY(0);
      -ms-transform: translateY(0);
          transform: translateY(0);
  height: 100vh;
  overflow: hidden; }

.slide-exit.slide-exit-active {
  -webkit-transition: all 0.4s ease-in-out;
  -o-transition: all 0.4s ease-in-out;
  transition: all 0.4s ease-in-out;
  opacity: 0.5;
  -webkit-transform: translateY(-100%);
      -ms-transform: translateY(-100%);
          transform: translateY(-100%); }

.slide-enter {
  -webkit-transform: translateX(100%);
      -ms-transform: translateX(100%);
          transform: translateX(100%);
  opacity: 0.5; }

.slide-enter.slide-enter-active {
  -webkit-transition: all 0.4s 0.4s ease-in-out;
  -o-transition: all 0.4s 0.4s ease-in-out;
  transition: all 0.4s 0.4s ease-in-out;
  -webkit-transform: translateX(0);
      -ms-transform: translateX(0);
          transform: translateX(0);
  opacity: 1; }

.slide-enter-done {
  position: static; }

.fade-enter,
.fade-exit {
  position: absolute;
  top: 0;
  left: 0;
  right: 0;
  bottom: 0; }

.fade-enter {
  opacity: 0; }

.fade-enter.fade-enter-active {
  -webkit-transition: 0.4s 0.4s ease-out;
  -o-transition: 0.4s 0.4s ease-out;
  transition: 0.4s 0.4s ease-out;
  opacity: 1; }

.fade-enter-done {
  position: static; }

.fade-exit {
  opacity: 1; }

.fade-exit.fade-exit-active {
  -webkit-transition: 0.4s ease-out;
  -o-transition: 0.4s ease-out;
  transition: 0.4s ease-out;
  opacity: 0; }