@charset "UTF-8";
* {
  box-sizing: border-box;
  padding: 0;
  margin: 0;
  outline: none; }

html {
  font-size: 62.5%;
  font-family: "El Messiri", Arial, Helvetica, sans-serif; }

body {
  min-height: 100vh;
  font-size: 1.6rem;
  overflow-x: hidden;
  background-color: #e5e7e9;
  color: #231f20; }

@media only screen and (max-width: 700px) {
  html {
    font-size: 58%; } }

html,
body {
  width: 100%;
  margin: 0px;
  padding: 0px;
  overflow-x: hidden; }

.h {
  font-weight: 700; }
  .h-main {
    color: #227093;
    font-size: 6rem;
    text-align: center;
    text-transform: uppercase;
    animation: fadeIn 2s; }
  .h-doc {
    font-size: 5rem;
    margin-bottom: 1rem; }
  .h-secondary {
    text-align: center;
    font-size: 3.5rem;
    color: #227093;
    margin-bottom: 3rem; }

@media only screen and (max-width: 430px) {
  .h-main {
    font-size: 4.5rem; }
  .h-doc {
    font-size: 3.5rem; } }

.btn {
  padding: 1rem 3.5rem;
  font-weight: bold;
  font-size: 1.8rem;
  border: none;
  background: none;
  cursor: pointer;
  transition: 0.7s; }
  .btn-request {
    background-color: #227093;
    color: #eee2dc;
    animation: shake 1.5s 3s;
    border-radius: 4px;
    box-shadow: 0 2px 6px rgba(35, 31, 32, 0.5);
    transition: transform 0.3s; }
    .btn-request:hover {
      transform: translateY(-5px);
      box-shadow: 0 5px 6px rgba(35, 31, 32, 0.5); }
    .btn-request:active {
      transform: translateY(0); }

.landing {
  position: relative;
  padding: 2rem 1rem;
  background-image: linear-gradient(to top right, #ffcfc5, #f2f3bc); }
  .landing-hero {
    display: flex;
    justify-content: space-around;
    align-items: center;
    flex-wrap: wrap;
    width: 90%;
    max-width: 75rem;
    margin: 1rem auto; }
    .landing-hero-info {
      font-size: 2.5rem;
      max-width: 100%;
      animation: fadeInRight 1s 0.7s both; }
      .landing-hero-info-price {
        direction: ltr;
        font-size: 4.5rem;
        color: #e20338;
        margin-bottom: 3rem; }
        .landing-hero-info-price-old {
          display: inline-block;
          margin: 0 1rem;
          text-decoration: line-through;
          color: #227093;
          opacity: 0.7;
          font-size: 3rem;
          position: relative; }
    .landing-hero-image {
      animation: fadeInDown 1s 0.1s both;
      height: 70rem;
      max-height: 60vh; }

.ingrediants {
  margin: 3rem auto;
  text-align: center; }

.ingrediant {
  text-align: center;
  margin: 1rem auto;
  height: 40rem;
  color: #231f20; }
  .ingrediant-name {
    font-size: 2rem;
    margin-bottom: 1rem; }
  .ingrediant-image {
    max-width: 90%;
    max-height: 90%;
    border-radius: 50%; }

@media only screen and (max-width: 700px) {
  .ingrediant {
    height: 20rem;
    margin-bottom: 2rem; } }

.doc-testimonials {
  position: relative;
  padding: 3rem 1rem;
  background: white; }

.doc-testimonial {
  text-align: center; }
  .doc-testimonial-image {
    border: 2px solid #227093;
    width: 20rem; }
  .doc-testimonial-text {
    background-color: #227093;
    color: #eee2dc;
    width: 40rem;
    max-width: 90%;
    margin: 1rem auto;
    padding: 2rem 1rem;
    font-size: 2rem;
    font-weight: 700;
    position: relative; }
    .doc-testimonial-text::before {
      content: "’’";
      position: absolute;
      top: -15%;
      right: 10%;
      color: #bab2b5;
      opacity: 0.4;
      font-size: 10rem; }

.benefits {
  padding: 2rem 0;
  background-color: #227093;
  color: #eee2dc; }

.benefit {
  font-size: 1.8rem;
  margin-bottom: 5px;
  cursor: pointer; }
  .benefit span {
    position: relative; }
  .benefit span::after {
    position: absolute;
    content: "";
    right: -5px;
    bottom: 0;
    height: 1px;
    width: 100%;
    background-color: #eee2dc;
    transition: 0.5s; }
  .benefit span::before {
    content: "";
    position: absolute;
    right: -5px;
    bottom: 0;
    width: 2px;
    height: 0%;
    background-color: #eee2dc;
    transition: 0.5s;
    transition-delay: 0.5s; }
  .benefit span:hover::after {
    width: 0; }
  .benefit span:hover::before {
    height: 100%; }

.testimonials {
  background-color: white;
  padding: 2rem 0; }

.testimonial {
  margin-bottom: 3rem; }
  .testimonial div {
    padding-right: 1rem; }
  .testimonial-name {
    margin-bottom: 1rem;
    color: #e20338;
    font-size: 2.5rem;
    cursor: pointer;
    position: relative;
    display: inline-block; }
    .testimonial-name::after {
      transition: 0.4s;
      content: "";
      position: absolute;
      bottom: 0;
      left: 50%;
      transform: translateX(-50%);
      width: 0;
      height: 2px;
      background-color: #e20338; }
    .testimonial-name:hover::after {
      width: 100%; }
  .testimonial-image {
    max-width: 100%;
    height: 20rem; }
  .testimonial-text {
    font-size: 1.7rem;
    margin-bottom: 3px; }

.guides {
  background-color: #227093;
  padding: 2rem 0;
  color: #eee2dc; }

.guide {
  text-align: center;
  margin: 1rem 0; }
  .guide-num {
    font-size: 3rem;
    margin: 0 1rem; }
  .guide-image {
    max-width: 100%;
    border-radius: 50%; }
