.benefits {
  padding: 2rem 0;
  background-color: $blue;
  color: $white;
}

.benefit {
  font-size: 1.8rem;
  margin-bottom: 5px;
  cursor: pointer;
  span {
    position: relative;
  }
  span::after {
    position: absolute;
    content: "";
    right: -5px;
    bottom: 0;
    height: 1px;
    width: 100%;
    background-color: $white;
    transition: 0.5s;
  }
  span::before {
    content: "";
    position: absolute;
    right: -5px;
    bottom: 0;
    width: 2px;
    height: 0%;
    background-color: $white;
    transition: 0.5s;
    transition-delay: 0.5s;
  }
  span:hover::after {
    width: 0;
  }
  span:hover::before {
    height: 100%;
  }
}
