.doc-testimonials {
  position: relative;
  margin-bottom: 3rem;
  border: 2px solid $blue;
  padding: 3rem 1rem;
  background-color: $brown;
  &::before {
    content: "";
    position: absolute;
    top: 0;
    left: 0;
    width: 6rem;
    height: 6rem;
    background-color: $blue;
    clip-path: polygon(0 0, 100% 0, 0 100%);
  }
  &::after {
    content: "";
    position: absolute;
    bottom: 0;
    right: 0;
    width: 6rem;
    height: 6rem;
    background-color: $blue;
    clip-path: polygon(100% 0, 100% 100%, 0 100%);
  }
}
.doc-testimonial {
  text-align: center;
  &-image {
    border: 2px solid $blue;
    width: 20rem;
  }
  &-text {
    background-color: $blue;
    color: $white;
    width: 40rem;
    max-width: 90%;
    margin: 1rem auto;
    padding: 2rem 1rem;
    font-size: 2rem;
    font-weight: 700;
    position: relative;
    &::before {
      content: "’’";
      position: absolute;
      top: -15%;
      right: 10%;
      color: $grey;
      opacity: 0.4;
      font-size: 10rem;
    }
  }
}
