.doc-testimonials {
  position: relative;
  padding: 3rem 1rem;
  background: white;
}
.doc-testimonial {
  text-align: center;
  &-image {
    border: 2px solid $blue;
    width: 20rem;
  }
  &-text {
    background-color: $blue;
    color: $white;
    width: 40rem;
    max-width: 90%;
    margin: 1rem auto;
    padding: 2rem 1rem;
    font-size: 2rem;
    font-weight: 700;
    position: relative;
    &::before {
      content: "’’";
      position: absolute;
      top: -15%;
      right: 10%;
      color: $grey;
      opacity: 0.4;
      font-size: 10rem;
    }
  }
}
