.guides {
  background-color: $blue;
  padding: 2rem 0;
  color: $white;
}

.guide {
  text-align: center;
  margin: 1rem 0;
  &-num {
    font-size: 3rem;
    margin: 0 1rem;
  }
  &-image {
    max-width: 100%;
    border-radius: 50%;
  }
}
