.landing {
  position: relative;
  padding: 2rem 1rem;
  background-image: $brown;
  &-hero {
    display: flex;
    justify-content: space-around;
    align-items: center;
    flex-wrap: wrap;
    width: 90%;
    max-width: 75rem;
    margin: 1rem auto;
    &-info {
      font-size: 2.5rem;
      max-width: 100%;
      animation: fadeInRight 1s 0.7s both;
      &-price {
        direction: ltr;
        font-size: 4.5rem;
        color: $red;
        margin-bottom: 3rem;
        &-old {
          display: inline-block;
          margin: 0 1rem;
          text-decoration: line-through;
          color: $blue;
          opacity: 0.7;
          font-size: 3rem;
          position: relative;
        }
      }
    }
    &-image {
      animation: fadeInDown 1s 0.1s both;
      height: 70rem;
      max-height: 60vh;
    }
  }
}

@media only screen and (max-width: 580px) {
  .landing {
    padding: 0.5rem 0.5rem;
    &-hero {
      margin: 0.5rem auto;
      &-image {
        max-height: 50vh;
      }
      &-info {
        &-price {
          margin-bottom: 1rem;
        }
      }
    }
  }
}
