* {
  box-sizing: border-box;
  padding: 0;
  margin: 0;
  outline: none;
}

html {
  font-size: 62.5%;
  font-family: "El Messiri", Arial, Helvetica, sans-serif;
}

body {
  min-height: 100vh;
  font-size: 1.6rem;
  overflow-x: hidden;
  background-color: $bg-grey;
  color: $black;
}

@media only screen and (max-width: 700px) {
  html {
    font-size: 58%;
  }
}
html,
body {
  width: 100%;
  margin: 0px;
  padding: 0px;
  overflow-x: hidden;
}
